cryptography==46.0.6
joserfc==1.6.3
grpcio==1.76.0
protobuf==6.33.5
valkey-glide==2.2.7
uhashring==2.4
aioboto3==15.5.0
google-auth[requests]==2.49.1
pydantic==2.12.5 # asset requires
requests
elasticsearch==8.15.1

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-grpc